html {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

#hanzhibiaoti {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: xxx-large;
    text-align: center;
    font-weight: 900;
}